<!-- Hero image -->
<div class="hero-image d-flex justify-content-center align-items-center text-center bg-image"
  {% if selected_category is None %} 
    {% if 'indoors' in request.GET %}
      style="background-image: url('{{ MEDIA_URL }}indoors.jpg');" 
    {% else %}
      style="background-image: url('{{ MEDIA_URL }}hand_planting_seeds.jpg');"
    {% endif %}
  {% endif %}
  {% if selected_category is not None and selected_subcategory is None %}
    style="background-image: url('{{ selected_category.image.url }}');"
  {% endif %}
  {% if selected_subcategory is not None %}
    style="background-image: url('{{ selected_subcategory.image.url }}');"
  {% endif %}>

  <div class="hero-text mask px-4 d-flex justify-content-center align-items-center">
    <div class="text-white h-100">
      {% if selected_category is None and selected_subcategory is None %}
        {% if 'indoors' in request.GET %}
        <h1>Growing Greens Indoors</h1>
        <h2 class="mb-3 fs-5 fw-normal">Seeds suitable for windowsill growing.</h2>
        {% else %}
        <span class="my-2 fs-1 logo-font">Miller & Davies</span>
        <h1>Organic Seeds</h1>
        <h2 class="mb-3 fs-5 fw-normal">Buy the seeds for your garden online from Miller&nbsp;&&nbsp;Davies.</h2>
        <p class="mb-3 fs-5 d-none d-md-block">Our seeds are all organic,<br>
          and most of them are from our own production.</p>
        {% endif %}
      {% endif %}
      {% if selected_category is not None and selected_subcategory is None %}
      <h1>{{ selected_category.friendly_name|title }}</h1>
      {% endif %}
      {% if selected_subcategory is not None %}
      <h1>{{ selected_subcategory.friendly_name|title }}</h1>
      {% endif %}
    </div>
  </div>
</div>
<!-- Hero image -->