<!-- Select Category / Subcategory -->
<div class="container-fluid my-4">
    <div class="row">
        {% if selected_subcategory is None %}
        {% if selected_category is None %}
        <div class="col">
            <a class="text-black" href="{% url 'products' %}">All Products</a>
        </div>
        {% else %}
        <div class="col">
            <a class="text-black" href="{% url 'products' %}">All Products/</a>
            <a class="text-black"
                href="{% url 'products' %}?category={{ selected_category.name }}">{{ selected_category.friendly_name|title }}</a>
        </div>
        {% endif %}
        {% else %}
        <div class="col">
            <a class="text-black" href="{% url 'products' %}">All Products/</a>
            <a class="text-black"
                href="{% url 'products' %}?category={{ selected_category.name }}">{{ selected_category.friendly_name|title }}/</a>
            <a class="text-black"
                href="{% url 'products' %}?category={{ selected_category.name }}&subcategory={{ selected_subcategory.name }}">{{ selected_subcategory.friendly_name|title }}</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        {% if 'favorites' not in request.GET %}
        {% if selected_subcategory is None %}
        {% if selected_category is None %}
        <div class="col d-flex justify-content-center">
            {% for category in categories %}
            <a href="{% url 'products' %}?category={{ category.name }}">
                <button class="button large-button">{{ category.friendly_name }}</button>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="col d-flex justify-content-center">
            {% for subcategory in subcategories %}
            {% if subcategory.name == 'na' %}
            {% else %}
            <a href="{% url 'products' %}?category={{ selected_category.name }}&subcategory={{ subcategory.name }}">
                <button class="button large-button">{{ subcategory.friendly_name }}</button>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <div class="col d-flex justify-content-center">
        </div>
        {% endif %}
        {% else %}
        <div class="col">
            <div class="row text-center my-3">
                <h2>My Favorites</h3>
            </div>
            <div class="row my-3">
                {% if not request.session.favorites %}
                <div class="col-11 col-sm-8 col-lg-6 mx-auto">
                    <p class="fs-sm-5 text-lg-center">You haven't selected any favorites.<br class="d-lg-none">
                        Click on a product's <i class="fa-regular fa-heart fa-lg favorite-icon"></i>-symbol to add it
                        to your favorites.</p>
                </div>              
                <br>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- Select Category / Subcategory -->