{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Hero image -->
<div class="basket-hero-image d-flex justify-content-center align-items-center text-center bg-image">
    <div class="hero-text mask px-4 d-flex justify-content-center align-items-center">
        <div class="text-white h-100">
            <h1>Order Confirmation</h1>
        </div>
    </div>
</div>
<!-- Hero image -->
<div class="container-md my-4">
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-4 item-container">
            <h5 class="text-muted">Thank You for Your order!</h5>
            <p>Please check the order summary below and if you find any mistake please get back to us as soon as possible.</p>
            <p>A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                        <small class="text-muted text-decoration-underline">Order Info</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Order Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end order-number">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted text-decoration-underline">Order Details</small>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-black fw-bold">
                            {{ item.product.name }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="small mb-0">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted text-decoration-underline">Delivering To</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <small class="text-muted text-decoration-underline">Billing Info</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">£{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">£{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">£{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- textfit code copied from: https://www.npmjs.com/package/textfit -->
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/textFit.js">
</script>
<script type="text/javascript">
    textFit(document.getElementsByClassName("on-sale"));
</script>
{% endblock %}