{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero image -->
<div class="hero-image d-flex justify-content-center align-items-center text-center bg-image"
    style="background-image: url('/media/hand_planting_seeds.jpg');"
    alt="xxxx">
  <div class="hero-text mask px-4 d-flex justify-content-center align-items-center">
    <div class="text-white h-100">
      <h1>Shopping Basket</h1>
    </div>
  </div>
</div>
<!-- Hero image -->

<div class="container my-4">
    {% if items %}
    <div class="row border border-secondary">
        <div class="col-10 item-container">
            <div class="row">
                {% for item in items%}
                <div class="col col-sm-6 col-md-4 col-lg-3 mb-3">
                    <a href="{% url 'item_detail' item.id %}">
                        {% if item.image %}
                        <img class="img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                        {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="Image coming soon">
                        {% endif %}
                    </a>
                </div>
                <div class="col-12">
                    <div class="row">
                        <h3 class="mb-3">{{ item.name }}</h3>
                    </div>
                    <div class="row">
                        <h3 class="mb-3">{{ item.sku }}</h3>
                    </div>                    
                    <div class="row">
                        <p class="mb-0">Pkt of {{ item.size }} seeds</p>
                    </div>
                </div>
                <div class="col-12 align-self-end">
                    <div class="row">
                        <p class="mb-0">Unit Price: £{{ item.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <h5>Your basket is empty</h5>
        <a href="{% url 'products' %}">Keep Shopping</a>
    </div>
    {% endif %}
</div>

{% endblock %}