{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero image -->
<div class="basket-hero-image d-flex justify-content-center align-items-center text-center bg-image">
    <div class="hero-text mask px-4 d-flex justify-content-center align-items-center">
        <div class="text-white h-100">
            <h1>Shopping Basket</h1>
        </div>
    </div>
</div>
<!-- Hero image -->

<div class="container-md my-4">
    {% if basket_items %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10 item-container">
            {% for item in basket_items%}
            <div class="row border border-secondary align-items-md-center">
                <div class="col-5 col-md-2 my-2 basket-prod-image position-relative">
                    <a href="{% url 'product_detail' item.product.id %}" aria-label="{{ item.product.name }}">
                        {% if item.product.image %}
                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="Image coming soon">
                        {% endif %}
                        {% if item.product.on_sale %}
                        <div class="on-sale d-inline-flex align-items-center justify-content-center">
                            -{{ item.product.discount}}%
                        </div>
                        {% endif %}
                    </a>
                </div>
                <div class="col-7 col-md-4 mt-2 mt-md-0">
                    <div class="row">
                        <h3 class="mb-0">{{ item.product.name }}</h3>
                    </div>
                    <div class="row">
                        <p class="mb-1">{{ item.product.sku }}</p>
                    </div>
                    <div class="row">
                        <p class="mb-0">Pkt of {{ item.product.size }} seeds</p>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <form action="{% url 'adjust_quantity_in_basket' item.item_id %}" class="form"
                                method="POST">
                                {% csrf_token %}
                                <div class="row align-items-center">
                                    <div class="col-8 adjust_quantity pe-0">
                                        <div class="row input-group align-items-center m-0">
                                            <div class="col-10 pe-0">
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            </div>
                                            <div class="col-2 input-group-append px-0 quantity-buttons">
                                                <button class="increment-qty btn quantity-icon-btn"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{ item.item_id }}"
                                                    aria-label="Increase Quantity">
                                                    <i class="fa-solid fa-caret-up fa-xl"></i>
                                                </button>
                                                <button class="decrement-qty btn quantity-icon-btn"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}"
                                                    aria-label="Decrease Quantity">
                                                    <i class="fa-solid fa-caret-down fa-xl"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 ps-1">
                                        <button type="submit" class="refresh-button" aria-label="Refresh Item Row">
                                            <i class="fa-solid fa-rotate fa-xl" aria-hidden="true"></i></button>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                        <div class="col-3">
                            <form action="{% url 'remove_from_basket' item.item_id %}" class="form" method="POST">
                                {% csrf_token %}
                                <div class="row align-items-center">
                                    <div class="col-3 justify-item-end">
                                        <button type="submit" class="remove-item" aria-label="Remove Item">
                                            <i class="fa-solid fa-trash-can fa-xl"></i>
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 text-end pe-4">
                    <div class="row">
                        <div class="col">
                            {% if item.product.on_sale %}
                            <span>Unit Price:&nbsp;</span>
                            <span class="mb-2 me-2">
                                <s>£{{ item.product.price }}</s>
                            </span>
                            <span class="mb-2 on-sale-price">£{{ item.product.on_sale_price | floatformat:2 }}</span>
                            {% else %}
                            <p class="mb-0">Unit Price: £{{ item.product.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <p class="mb-0"><strong>Subtotal: £{{ item.subtotal|floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12 text-end pe-4 mt-2">
                    <h6>Order Total: £{{ total|floatformat:2 }}</h6>
                    <h6>Delivery Cost: £{{ delivery|floatformat:2 }}</h6>
                    <h4>Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'checkout' %}" class="button btn small-button float-end text-decoration-none w-auto"
                        aria-label="Safe Checkout">
                        Safe Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12 text-center my-4">
        <h5 class="my-3">Your basket is empty</h5>
        <a href="{% url 'products' %}" class="button btn small-button" aria-label="Keep Shopping">Keep Shopping</a>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<!-- textfit code copied from: https://www.npmjs.com/package/textfit -->
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/textFit.js">
</script>
<script type="text/javascript">
    textFit(document.getElementsByClassName("on-sale"));
</script>
{% endblock %}