/* variables */
:root {
  --light-green: #acc185;
  --medium-green: #304b08;
  --dark-green: #0b180a;
}

/* general */
html {
  height: 100%;
}

.button {
  background-color: var(--medium-green);
  border: 2px solid var(--light-green);
  color: white !important;
  border-radius: 4px;
  padding: 0 10px;
  margin: 5px;
}

.small-button {
  height: 30px;
}

.large-button {
  font-size: large;
  height: 40px;
  padding: 0 20px;
}

.text-black {
  color: black;
}

i.text-black:hover {
  /*color: blue!important; */
  font-size: x-large;
}

/* header */
.header-top,
.footer-bottom {
  background-color: var(--light-green);
}

.navbar {
  background-color: var(--medium-green);
  padding-top: 0;
  padding-bottom: 0;
  color: white !important;
}

.navbar .nav-link,
.navbar i {
  color: white !important;
}

main {
  margin-top: 112px;
}

/* hero image */
.hero-image {
  background: no-repeat center center;
  background-size: cover;
  height: 425px;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100px;
}

/* footer */
.social-icon {
  width: 20px;
}

/* product detail page */
.detail-container img {
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}

/* .select_quantity {
  padding-top: 0.35rem!important;
} */

.quantity-buttons {
  position: relative;
}

.increment-qty {
  position: absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -75%);
}

.decrement-qty {
  position: absolute!important;
  top: 30%;
  left: 50%;
  transform: translate(-40%, -25%);
}

.quantity-icon-btn {
  padding: 0 5px!important;
}

.quantity-icon-btn:hover {
  color:var(--light-green);
}

.quantity-icon-btn:focus {
  box-shadow: none;
}

/* shopping basket */
.basket-hero-image {
  background-image: url('/media/seedling.jpg');
  background-position: bottom right;
  background-size: cover;
  height: 200px;
}

.basket-prod-image {
  max-width: 150px;
}

.refresh-button,
.remove-item {
  background: none!important;
  border: none!important;
}

.refresh-button:hover,
.remove-item:hover {
  color:var(--light-green);
}
