{% load static %}

{% block footer %}
<footer class="footer mt-auto">
    {% include 'includes/newsletter-signup.html' %}
    <div class="container-fluid footer-bottom">
        <div class="row d-flex">
            <div class="col-12 col-md-4 my-md-auto text-center text-md-end my-2">
                <span>Follow us for Inspiration</span>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Link to our Facebook page">
                        <i class="social-icon fa-brands fa-facebook-f fa-xl text-black me-2"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Link to our Instagram page">
                        <i class="social-icon fa-brands fa-instagram fa-xl text-black"></i></a>
            </div>
            <div class="col-12 col-md-4 my-md-auto text-center text-md-start order-md-last mb-2 py-md-2">
                <span>Contact us on:<br></span>
                <span>info@millerdavies.com</span>
            </div>
            <div class="col-12 col-md-4 my-md-auto text-center">
                <span>&copy; 2022 Miller & Davies</span>
            </div>

        </div>
    </div>
</footer>
{% endblock %}