{% load static %}

{% if messages %}
<div class="toast-container">
  {% for message in messages %}
  {% with message.level as level %}
  {% if level == 40 %}
  {% include 'includes/toasts/toast_error.html' %}
  {% elif level == 30 %}
  {% include 'includes/toasts/toast_warning.html' %}
  {% elif level == 25 %}
  {% include 'includes/toasts/toast_success.html' %}
  {% else %}
  {% include 'includes/toasts/toast_info.html' %}
  {% endif %}
  {% endwith %}
  {% endfor %}
</div>
{% endif %}

{% block postloadjs %}
<script type="text/javascript">
  let toastElList = [].slice.call(document.querySelectorAll('.toast'))
  let toastList = toastElList.map(function (toastEl) {
    return new bootstrap.Toast(toastEl)
  })
  toastList.forEach(toast => toast.show())
</script>
{% endblock %}