{% load static %}

<nav class="row navbar navbar-expand-md navbar-dark d-flex">
  <div class="col-2 d-md-none">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <!-- basket link for small screens -->
  <div class="col-10 d-block d-md-none my-auto">
    <div class="row justify-content-end">
      <div class="col pe-0">
        <a href="{% url 'basket' %}" class="fs-3 d-block d-md-none text-end text-reset" aria-label="Your Basket">
          {% include 'includes/basket-btn.html' %}
        </a>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav me-auto mx-md-auto mb-lg-0 small-screen-user-dropdown">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'products' %}" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" aria-label="All Products">
          All Products
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc" aria-label="Sort by Name">By Name</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc" aria-label="Sort by Price">By Price</a></li>
          <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc" aria-label="Sort by Rating">By Rating</a></li>
        </ul>
      </li>
      <!-- vegetable link for large screens -->
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="{% url 'products' %}?category=vegetables" aria-label="Vegetables">Vegetables</a>
      </li>
      <!-- vegetable dropdown link for small screens -->
      <li class="nav-item dropdown d-md-none">
        <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=vegetables" id="vegetablesDropdownMenuLink"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vegetables
        </a>
        <ul class="dropdown-menu" aria-labelledby="vegetablesDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'products' %}?category=vegetables" aria-label="All Vegetables">All Vegetables</a></li>
          {% for sb in all_subcategories %}
          {% if sb.category.name == 'vegetables'%}
          <li><a class="dropdown-item"
              href="{% url 'products' %}?category=vegetables&subcategory={{ sb.name }}" aria-label="{{sb.friendly_name|title}}">{{sb.friendly_name|title}}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      <!-- flower link for large screens -->
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="{% url 'products' %}?category=flowers" aria-label="Flowers"}>Flowers</a>
      </li>
      <!-- flower dropdown link for small screens -->
      <li class="nav-item dropdown d-md-none">
        <a class="nav-link dropdown-toggle" href="{% url 'products' %}?category=vegetables" id="flowerDropdownMenuLink"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Flowers
        </a>
        <ul class="dropdown-menu" aria-labelledby="flowerDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'products' %}?category=flowers" aria-label="All Flowers">All Flowers</a></li>
          {% for sb in all_subcategories %}
          {% if sb.category.name == 'flowers'%}
          <li><a class="dropdown-item"
              href="{% url 'products' %}?category=flowers&subcategory={{ sb.name }}" aria-label="{{sb.friendly_name|title}}">{{sb.friendly_name|title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?category=herbs" aria-label="Herbs">Herbs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?indoors" aria-label="Indoor Growing">Indoor Growing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?bargains" aria-label="Bargains">Bargains</a>
      </li>
      <li class="nav-item d-md-none">
        <a class="nav-link" href="{% url 'products' %}?favorites" aria-label="Favorites">Favorites</a>
      </li>
      <!-- user dropdown for small screens -->
      <li class="nav-item dropdown d-md-none">
        <a class="nav-link dropdown-toggle text-reset" href="{% url 'products' %}" id="userDropdownMenuLink"
          role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="User Drop Down">
          <i class="fa-solid fa-user"></i>
          {% if request.user.is_authenticated %}
          Logged in as <i>{{ request.user.username}}</i>
          {% else %}
          <span>Log in/Sign up</span>
          {% endif %}
        </a>
        <ul class="dropdown-menu mb-2" aria-labelledby="userDropdownMenuLink">
          {% include 'includes/user-dropdown.html' %}
        </ul>
      </li>
    </ul>
    <div class="float-end d-none d-md-block">
      <div class="row">
        <div class="col-4">
          <a href="{% url 'products' %}?favorites" class="fs-3 text-reset">
            <button class="btn favorite-btn mb-md-1 text-reset" aria-label="Favorites">
              <div class="my-0 fs-6">
                <i class="fa-solid fa-heart fa-lg me-1"></i>
              </div>
            </button>
          </a>
        </div>
        <!-- user dropdown for large screens -->
        <div class="col-6 dropdown">
          <button class="btn dropdown-toggle user-dropdown-btn mt-1 text-reset" type="button" id="dropdownMenuUserButton"
            data-bs-toggle="dropdown" aria-expanded="false" aria-label="User Drop Down">
            <i class="fa-solid fa-user"></i>
            {% if request.user.is_authenticated %}
            Logged in as <i>{{ request.user.username}}</i>
            {% else %}
            <span>Log in/Sign up</span>
            {% endif %}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuUserButton">
            {% include 'includes/user-dropdown.html' %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>