{% load static %}

<nav class="row navbar navbar-expand-md navbar-dark d-flex">
  <div class="col-6 d-md-none">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="col-6 d-block d-md-none text-end my-md-auto">
    <a href="/" class="fs-3 d-block d-md-none text-end pb-2">
      {% include 'includes/basket-btn.html' %}
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mx-md-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?category=vegetables">Vegetables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?category=flowers">Flowers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?category=herbs">Herbs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}?bargains">Bargains</a>
      </li>
    </ul>
  </div>

</nav>