      {% if request.user.is_authenticated %}
      <li><a class="dropdown-item" href="{% url 'profile' %}" aria-label="My Profile">My Profile</a></li>
      {% if request.user.is_superuser %}
      <li><a class="dropdown-item" href="{% url 'add_product' %}" aria-label="Product Management">Product Management</a></li>
      {% endif %}
      <li><a class="dropdown-item" href="{% url 'account_logout' %}" aria-label="Log Out">Log Out</a></li>
      {% else %}
      <li><a class="dropdown-item" href="{% url 'account_signup' %}" aria-label="Sign Up">Sign Up</a></li>
      <li><a class="dropdown-item" href="{% url 'account_login' %}" aria-label="Log in">Log In</a></li>
      {% endif %}
