{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'products/includes/hero.html' %}
{% include 'products/includes/select_category.html' %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-2 filter-container">
            <p>Filter</p>
        </div>
        <div class="col-10 product-container">
            {% if 'q' in request.GET %}
            {% if products %}
            <div class="row">
                <div class="col">
                    <p>Your search for <em>"{{ query }}"</em> resulted in:</p>
                </div>
                <br>
            </div>
            {% else %}
            <div class="row">
                <div class="col">
                    <p>Your search for <em>"{{ query }}"</em> returned no results.</p>
                </div>
                <br>
            </div>
            {% endif %}
            {% endif %}
            <div class="row">
                {% for product in page_obj %}
                <div class="col col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.id %}">
                            {% if product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="Image coming soon">
                            {% endif %}
                        </a>
                        <div class="card-body text-center d-flex justify-content-center">
                            <div class="row">
                                <div class="col-12">
                                    <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-black">
                                            <div class="row">
                                                <h3 class="mb-3">{{ product.name}}
                                                    <form action="{% url 'adjust_favorites' product.id %}" class="form d-inline" method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn favorite-btn" type="submit">
                                                            {% if product.id in request.session.favorites %}
                                                            <i class="fa-solid fa-heart fa favorite-icon"></i>
                                                            {% else %}
                                                            <i class="fa-regular fa-heart fa favorite-icon"></i>
                                                            {% endif %}
                                                        </button>
                                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                    </form>
                                                </h3>
                                            </div>
                                            <div class="row">
                                                <p class="mb-0">Pkt of {{ product.size}} seeds</p>
                                            </div>
                                            <div class="row">
                                                <h3 class="mb-3">£{{ product.price}}</h3>
                                            </div>
                                    </a>
                                </div>
                                <div class="col-12 align-self-end">
                                    <div class="col-12 d-flex justify-content-center">
                                        <form action="{% url 'add_to_basket' product.id %}" class="form d-inline" method="POST">
                                            {% csrf_token %}
                                            <button class="button small-button" type="submit">Buy Now</button>
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center ">
            <!-- pagination code was copied from https://docs.djangoproject.com/en/4.1/topics/pagination/ -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="d-none d-sm-inline">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">&lt previous</a>
                    {% endif %}
                    {% if page_obj.has_other_pages %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% endif %}
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next &gt</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="d-none d-sm-inline">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}