<div class="toast custom-toast rounded-0" data-bs-autohide="false" role="alert" aria-live="assertive">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 toast-capper bg-danger"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto flex-grow-1">Error!</strong>
        <button type="button" class="btn-close me-1" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <hr class="w-75 mx-auto my-0">
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div>