<div class="toast custom-toast rounded-0" role="status" aria-live="polite">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto flex-grow-1">Information!</strong>
        <button type="button" class="btn-close me-1" data-bs-dismiss="toast" aria-label="Close">
        </button>
    </div>
    <hr class="hr w-75 mx-auto my-0">
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div>